<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  ng-app="myApp">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>The DreamSmasher</title>
<!-- AngularJS link -->
<script type="text/javascript" src="resources/libs/angular.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Angular Tutorial work -->
<script type="text/javascript" src="resources/js/app.js"></script>

<!-- controllers -->
<script src="resources/js/controllers.js"></script>



<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="resources/css/styles.css">

<!-- icon -->
<link rel="shortcut icon" type="image/x-icon" href="resources/images/yinyang.ico">
</head>
<body ng-controller="MainController">
<!-- to do:
- Bottom nav links: About, Social Media, Contact, etc.
- Carousel images, eventually showing off various web layouts.
- Nav Menu:
- + links out to demo sites
- X home link, highlighted already
- + Bio, options for social media, about page, skills, etc
- + Portfolio items, work on the game you've made, link out to codefights, etc.
- + API things - build the festival comparison tool,
- + Anime
- + Games I play
- + Music stuff
- Contact form
- Responsiveness
-->
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MyHome</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="about.html">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false">Portfolio <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">All Items</a></li>
            <li><a href="#">Websites</a></li>
            <li><a href="#">Game Dev</a></li>
            <li><a href="#">ServiceNow</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false">Tools<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Festival Comparison</a></li>
            <li><a href="#">Weather Forecast</a></li>
          </ul>
        </li>
        <li><a href="anime.html">Anime</a></li>
        <li><a href="#">Games</a></li>
        <li><a href="#">Music</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- Angular JS Navbar
<div ng-controller="NavBar" ng-cloak>
  <md-content class="md-padding">
    <md-nav-bar
      md-no-ink-bar="disableInkBar"
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-click="goto('home')" name="home">
      Home
    </md-nav-item>
    <md-nav-item md-nav-click="goto('bio')" name="bio">
      About
    </md-nav-item>
    <md-nav-item md-nav-click="goto('portfolio')" name="portfolio">
      Portfolio
    </md-nav-item>
    <md-nav-item md-nav-click="goto('tools')" name="tools">
      Tools
    </md-nav-item>
    <md-nav-item md-nav-click="goto('anime')" name="anime">
      Anime
    </md-nav-item>
    <md-nav-item md-nav-click="goto('games')" name="games">
      Games
    </md-nav-item>
    <md-nav-item md-nav-click="goto('music')" name="music">
      Music
    </md-nav-item>
</div>
-->
<div class="bgimg">
  <div class="topleft">
    <p></p>
  </div>
  <div class="middle" ng-controller="ParentController as parent">
    <input type="text" ng-model="model.name"/>
    <h1>This is the Parent: {{ parent.model.name }}</h1>
    <div ng-controller="ChildController as child">
      <input type="text" ng-model="name"/>
      <h2>This is the Child: {{ child.name }}</h2>
      <h2>Current Item: {{ currentItem }}</h2>
      <p><input type="text" ng-model="itemIndex"><input type="button" value="Get Item" ng-click="getItem()"></p>
      <p>Standard bracket expression:</p>
      <p> {{ randomValue }}</p>
      <p> One time bracket expression: </p>
      <p> {{ ::randomValue }}</p>
    </div>
    <hr>
    <p id="demo" style="font-size:30px"></p>
  </div>
  <div class="bottomleft">
    <p></p>
  </div>
</div>
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="resources/js/demoscript.js"></script>
</body>
</html>
